/* Background Image w/ Fadeout*/
#bgImg {
	background-image: url("../resources/img/antaresLaunch16x9.png");
	background-position: center;
	background-size: cover;
	display: block;
	height: 100vh;
	position: absolute;
	width: 100vw;
}

html, body {
	height: 100vh;
  	width: 100vw;
	font-family: 'Orbitron', sans-serif !important;
    font-size: 62.5%;
	color: #000 !important;
}

body {
	background-color: #5C4441 !important;
	overflow: hidden;
}

h1 {
	font-size: 200%;
	text-shadow: 0px -4px 6px #3C3C3D;
}

.wrapper {
	display: block;
	height: 100vh;
  	position: absolute;
  	width: 100vw;
}

/* Index fade in */
.activate{
	height: 80vh;
	margin: auto;
	min-width: 350px;
	width: 30vw;
}
.image{
	height: 30vh;
	border-radius: 50%;
}
.main p{
	font-weight: bold;
	font-size: 150%;
	margin-top: 10px;
	text-shadow: 0px -2px 6px #3C3C3D; 
}

.git, .res, .link{
    height: 10vh;
}
.link{
    margin-top: 6%;
}
.nav i{
	color: #000000;
    font-size: 7rem;
	text-shadow: 0px -2px 5px #3C3C3D;
}

.vcenter {
    display: inline-flex;
    margin-top: 5%;
}

.sig {
	position: absolute;
	bottom: 0px; 
	right: 0px;
	height: 10vh;
}

@media only screen and (min-device-width: 769px){
    .name{
        -webkit-opacity: 0.2;
        opacity: 0.2;
        -webkit-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
    }
    .main {
        -webkit-opacity: 0.0;
        opacity: 0.0;
        -webkit-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
    }
    .res{
        margin-top: 6%;
    }
    .activate:hover .name, .activate:hover .main{
        -webkit-opacity: 1.0;
        opacity: 1.0;
    }
    .nav a{
        color: #55A87F;
        font-size: 2.5rem;
        text-decoration: none;
        text-shadow: 0px -2px 5px #3C3C3D;
    }
    .nav a:hover{
        color: #55A87F;
        text-decoration: none;
    }
}

@media only screen and (max-device-width: 768px){
    #imgBlur{
        -webkit-filter: blur(5px);
        filter: blur(5px);
        -webkit-opacity: 0.6;
        opacity: 0.6;
    }
}