/* Background Image w/ Fadeout*/
#bgImg {
	background-image: url("../resources/img/antaresLaunch16x9.png");
	background-position: center;
	background-size: cover;
	display: block;
	height: 100vh;
	position: absolute;
	width: 100vw;
}

html, body {
	height: 100vh;
  	width: 100vw;
}

body {
	background-color: #5C4441;
	overflow: hidden;
}

h1 {
	color: #080808;
	font-family: 'Orbitron', sans-serif;
	font-size: 200%;
	text-shadow: 0px -4px 6px #3C3C3D;
}

p {
	color: #080808;
	font-family: "Arial", Helvetica, sans-serif;
}

#wrapper {
	display: block;
	height: 100vh;
  	position: absolute;
  	width: 100vw;
}

/* Index fade in */
.activate{
	height: 80vh;
	margin: auto;
	min-width: 350px;
	width: 30vw;
}
.main {
	/*-webkit-opacity: 0.0;
	opacity: 0.0;*/
	-webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.image{
	height: 20vh;
}
.center-block{
	height: 100%;
}

/*.header {
	display: block;
	margin: 5vh auto -10px auto;
	-webkit-opacity: 0.2;
	opacity: 0.2;
	text-align: center;
	-webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.main {
	display: block;
	-webkit-opacity: 0.0;
	opacity: 0.0;
	text-align: center;
	-webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}


#main p {
	font-weight: bold;
	font-size: 100%;
	margin-top: 10px;
	text-shadow: 0px -2px 6px #3C3C3D;
}

.activate:hover .header, .activate:hover #main{
	-webkit-opacity: 1.0;
	opacity: 1.0;
}

/* Link Names */
/*.nav {
	text-align: center;
}
.nav ul {
    list-style: none;
    display: inline-block;
    margin: -30px 0 0 0;
    padding: 0;
    top: 0;
    right: 0;
}
.nav li {
	height: 60px;
	margin-top: 30px;
}
.nav li a {
    font-family: FontAwesome, sans-serif;
    text-decoration: none;
    text-shadow: 0px -2px 5px #3C3C3D;
}
.nav li i {
    color: #080808;
    -webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.nav li b {
	color: #F57D18;
	display: block;
	opacity: 0.0;
	padding-top: 2px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.nav a:hover i {
    color: #F57D18;
}
.nav a:hover b {
    opacity: 1.0;
}*/

.sig {
	position: absolute;
	bottom: 0px; 
	right: 0px;
	height: 10vh;
}