/* Background Image */
/* TODO, implement blur effect */
.bgImg {
	background-image: url("../resources/img/antaresLaunch16x9.png");
	background-position: center;
	background-size: cover;
	display: block;
	height: 100vh;
	position: absolute;
	width: 100vw;

	/* blur bg */
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

/* add a slight tint over the bg image to help with readability on worse displays */
.imgBlur {
	background-color: rgba(240,240,240, 0.1);
	
  width: 100vw;
  height: 100vh;
}

/* Universal */
html, body {
	height: 100vh;
  	width: 100vw;
}

body {
	background-color: #888888;
	overflow: hidden;
}

h1 {
	color: #080808;
	font-family: 'Orbitron', sans-serif;
	font-size: 200%;
	text-shadow: -2px -4px 5px #3C3C3D;
}

p {
	color: #080808;
	font-family: "Arial", Helvetica, sans-serif;
}

.wrapper {
	display: block;
	height: 100vh;
  	position: absolute;
  	width: 100vw;
}


/* Index fade in */
#header {
	display: block;
	margin: 5vh auto -10px auto;
	opacity: 0.2;
	text-align: center;
	-webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#main {
	display: block;
	opacity: 0.2;
	text-align: center;
	-webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#main img {
	border-radius: 30px;
	box-shadow: -4px -3px 5px #3C3C3D;
	display: block;
	height: 150px; 
	margin: auto;
    width: 150px;
}

#main p {
	font-weight: bold;
	font-size: 100%;
	margin-top: 10px;
	text-shadow: -2px -1px 2px #3C3C3D;
}

[class^="fa-"], [class*=" fa-"] {
	color: #080808;
	display: inline-block;
	margin-top: 10px;
    width: 100%;
    text-shadow: -3px 1px 5px #3C3C3D;
}

.activate{
	height: 70vh;
	margin: auto auto auto 5vw;
	width: 30vw;
}
.activate:hover #header, .activate:hover img, .activate:hover #main{
	opacity: 1.0;
}

@media (max-width: 500px) {
  #main {
    display: block;
    margin: 0 auto;
    opacity: 1;
    text-align: center;
  }

  #main p {
  	font-size: 150%;
  }

  #main a {
  	font-size: 120%;
  }

  .fa {
  	margin: 3% 0;
  }

  #header {
  	opacity: 1;
  	margin-top: 10vh;
  	margin-bottom: 5vh;
  }

  .activate { 
  	margin: 0;
  	width: 100vw;
	}
}