* {
   margin-top: 0px !important;
}

html, body {
	height: 100vh;
}

body {
	background-color: #000000;
	font-family: 'PT Sans', sans-serif;
}

.wrapper {
	background-color: #FFFFFF;
	max-width: 50vw;
	min-height: 100vh;
	height: 100vh;
	margin: 0 auto -50px; /*bottom margin = neg footer height */
}

#header {
	background-color: #AAAAAA;
	padding: 0px 10px;
}

h1 {
	text-align: center;
}

#nav {
	/* Maybe */
}

#main {
	background-color: #FAAAAA;
	padding: 5px 10px;
}

#footer {
	max-width: 50vw;
	height: 50px;
	background-color: #000FFF;
	margin: 0 auto;
}

#footer, .push {
	height: 50px;
}